@tailwind base;
@tailwind components;
@tailwind utilities;

// @import 'q-layout.scss';
@import 'q-header.scss';
// @import 'q-pagination.scss';
// @import 'q-notify.scss';
// @import 'q-dialog.scss';
// @import 'q-item.scss';
@import 'q-card.scss';
@import 'q-btn.scss';
@import 'q-select.scss';

$grey: #77312b;

html {
  background-color: black;
}

.body--light {
  background: var(--q-light-page);
}

.body--dark {
  background: var(--q-dark-page);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

html {
  font-size: 20px;
}

body {
  font-size: 100%;
}

.price-text {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  height: 2.5rem;
  line-height: 2.5rem;
}

.product-name {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
