@tailwind base;
@tailwind components;
@tailwind utilities;

// @import 'q-layout.scss';
@import 'q-header.scss';
@import 'q-pagination.scss';
// @import 'q-notify.scss';
// @import 'q-dialog.scss';
@import 'q-item.scss';
@import 'q-card.scss';
@import 'q-btn.scss';
@import 'q-select.scss';

:root {
  --vh: 1vh;
}

@supports (-webkit-touch-callout: none) {
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

html {
  background-color: black;
  font-size: 20px;
  height: -webkit-fill-available;
}

body {
  font-size: 100%;
  height: -webkit-fill-available;
}

.body--light {
  background: var(--q-light-page);
}

.body--dark {
  background: var(--q-dark-page);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.price-text {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  height: 2.5rem;
  line-height: 2.5rem;
}

.product-name {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
