a.q-btn {
  padding: 0.5rem 2rem;
  &:focus {
    box-shadow: none !important;
  }
}

button.q-btn {
  padding: 0.5rem 2rem;
  &.q-btn--round {
    padding: 0.5rem;
  }
  &.q-btn--rectangle {
    padding: 0.5rem 1rem;
  }
  &.-q-btn-item.q-btn--rectangle {
    padding: 1rem !important;
  }
}
