a.q-btn {
  padding: 0.5rem 2rem;
  &:focus {
    box-shadow: none !important;
  }
}

button.q-btn {
  padding: 0.5rem 2rem;
  &.q-btn--round {
    padding: 0.5rem;
  }
  &.q-btn--rectangle {
    padding: 0.5rem 1rem;
  }
  &.-q-btn-item.q-btn--rectangle {
    padding: 1rem !important;
  }
}

.q-btn[disabled] {
  background-image: linear-gradient(
    45deg,
    #ccc 10%,
    transparent 10%,
    transparent 20%,
    #ccc 20%,
    #ccc 30%,
    transparent 30%,
    transparent 40%,
    #ccc 40%,
    #ccc 50%,
    transparent 50%,
    transparent 60%,
    #ccc 60%,
    #ccc 70%,
    transparent 70%,
    transparent 80%,
    #ccc 80%,
    #ccc 90%,
    transparent 90%,
    transparent
  ) !important;
  background-size: 10px 10px;
  mix-blend-mode: difference;
  color: white;
}

body.desktop .q-focusable:focus > .q-focus-helper,
body.desktop .q-manual-focusable--focused > .q-focus-helper,
body.desktop .q-hoverable:hover > .q-focus-helper {
  background: yellow !important;
  opacity: 0.1 !important;
}
