.q-dialog .q-select__dialog {
  max-width: 500px !important;
  .q-virtual-scroll__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    text-align: center;
    gap: 1rem;
    padding: 0.45rem 0;
  }
}
