.q-item {
  background-color: rgba(var(--q-light-rgb), 0.75) !important;
}

.body--dark .q-item {
  box-shadow: none !important;
  // background: var(--q-dark-rgb) !important;
  backdrop-filter: blur(35px);
}

.q-item.q-router-link--active,
.q-item--active,
.q-field__control {
  color: var(--q-item-active) !important;
}
